@page
@model RazorPages1.Pages.Alumnos.DeleteModel
@{
    var rutaImg = "~/images/" + (Model.alumno.Foto ?? "noimage.png");
}

<h1 align="center">¿Seguro quieres Borrar el Alumno?</h1><br />
<div class="card m-3" style="min-width: 18rem; max-width: 30%; align-self:center">
    <div class="card-header">
        <h3>@Model.alumno.Nombre</h3>
        <img class="card-img-top imageThumbail" asp-append-version="true" src="@rutaImg" /> <!-- ~ es  wwwroot -->
        <div class="card-footer text-center">
            <h3>@Model.alumno.Id</h3>
            <h3>@Model.alumno.Email</h3>
            <h3>@Model.alumno.CursoId</h3>
        </div>
    </div>
</div>
<br />
<input type="button" value="si" id="btn-si" class="btn btn-success" />
<input type="button" value="no" id="btn-no" class="btn btn-danger" />
